

body {
    margin: 0px;
}
#container {
    position: absolute;
    width: 100%;
}

#btn{
    color: aqua; 
    border: 1px solid rgba(200, 200, 200, 0.7); 
    border-radius: 8px;
    font-size: 40px;
    user-select: none;
    cursor: pointer;
    background-color: rgba(58, 136, 10, 0.5);
    margin: 5px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

#btn:hover {
    background-color: rgba(58, 136, 10, 0.8);  
}

#btn:active {
    background-color: rgba(19, 22, 18, 0.8);  
    color: yellow;
}